Mars.Model/Service References/ManagersService/ManagersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SolarSystem.Earth.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Classe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee_Promo_Sortante" type="xs:int" />
      <xs:element minOccurs="0" name="Code_Classe" type="xs:int" />
      <xs:element minOccurs="0" name="Encore_Presente" type="xs:boolean" />
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Classe" nillable="true" type="tns:Classe" />
  <xs:complexType name="ArrayOfClasse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Classe" nillable="true" type="tns:Classe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClasse" nillable="true" type="tns:ArrayOfClasse" />
  <xs:complexType name="Conference">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Conference" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Heure_Debut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_Heure_Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publiee" type="xs:boolean" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="tns:Ville" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conference" nillable="true" type="tns:Conference" />
  <xs:complexType name="Ville">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Ville" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ville" nillable="true" type="tns:Ville" />
  <xs:complexType name="ArrayOfConference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conference" nillable="true" type="tns:Conference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConference" nillable="true" type="tns:ArrayOfConference" />
  <xs:complexType name="Lien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Lien" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordre" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lien" nillable="true" type="tns:Lien" />
  <xs:complexType name="ArrayOfLien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lien" nillable="true" type="tns:Lien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLien" nillable="true" type="tns:ArrayOfLien" />
  <xs:complexType name="Membre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Classe" nillable="true" type="tns:Classe" />
      <xs:element minOccurs="0" name="Code_Membre" type="xs:int" />
      <xs:element minOccurs="0" name="Email_EPSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_perso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mot_de_passe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presentation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="Site_web" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL_Facebook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL_LinkedIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL_Twitter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL_Viadeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="tns:Ville" />
      <xs:element minOccurs="0" name="Ville_origine" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Membre" nillable="true" type="tns:Membre" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Role" type="xs:int" />
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfMembre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Membre" nillable="true" type="tns:Membre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembre" nillable="true" type="tns:ArrayOfMembre" />
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_News" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Heure" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Membre" nillable="true" type="tns:Membre" />
      <xs:element minOccurs="0" name="Mots_Cles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publiee" type="xs:boolean" />
      <xs:element minOccurs="0" name="Texte_Court" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texte_Long" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="Projet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avancement" type="xs:int" />
      <xs:element minOccurs="0" name="Code_Projet" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="tns:Ville" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projet" nillable="true" type="tns:Projet" />
  <xs:complexType name="ArrayOfProjet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Projet" nillable="true" type="tns:Projet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjet" nillable="true" type="tns:ArrayOfProjet" />
  <xs:complexType name="Publicite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Publicite" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presentation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publiee" type="xs:boolean" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publicite" nillable="true" type="tns:Publicite" />
  <xs:complexType name="ArrayOfPublicite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publicite" nillable="true" type="tns:Publicite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicite" nillable="true" type="tns:ArrayOfPublicite" />
  <xs:complexType name="Salon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Salon" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Heure_Debut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_Heure_Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publie" type="xs:boolean" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salon" nillable="true" type="tns:Salon" />
  <xs:complexType name="ArrayOfSalon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salon" nillable="true" type="tns:Salon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalon" nillable="true" type="tns:ArrayOfSalon" />
  <xs:complexType name="ArrayOfVille">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ville" nillable="true" type="tns:Ville" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVille" nillable="true" type="tns:ArrayOfVille" />
</xs:schema>